<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <p>Details panel</p>
    {% if student_info %}
            <p>{{ student_info.student_lastname }}</l>
            <p>{{ student_info.student_firstname }}</p>
            <p>{{ student_info.student_promotion }}</p>
            <p>{{ student_info.student_notes }}</p>
            <p>{{ student_info.student_classes }}</p>
            <p>{{ student_info.student_average }}</p>
            <p>{{ student_info.student_image }}</p>
    {% else %}
        <p>Ya R!</p>
    {% endif %}
</body>
</html>