<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>
<body>
    <h1 style="text-align: center; margin-top: 80px; margin-bottom: 50px;"><span class="element"></span></h1>
    <div id="container-login">
        <div id="title">
            <i class="material-icons lock">lock</i> Login
        </div>
        {% block content %}
        <form method="post" action="/login/">
            <div class="input">
                {% csrf_token %}
                {{ form.as_p }}
            </div><br>

            <div class="clearfix"></div>

            <input type="submit" value="Log In" />
        </form>
        {% endblock %}

        <div class="privacy">
            <a href="/politique">Privacy Policy</a>
        </div>

    </div>

<script src="{% static 'typed.js' %}"></script>

</body>
</html>