<html>

<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="description" content="Login - Register Template">
    <meta name="author" content="Lorenzo Angelino aka MrLolok">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
</head>

<body>

{% block content %}
  <h2>Sign up</h2>
  <form method="post" action="/register/">
    {% csrf_token %}
    {{ form }}
    <button type="submit" value="Register">Sign up</button>
  </form>
{% endblock %}
<a href="/">Login</a>
</body>

</html>