<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selection de profil</title>
</head>
<body>
    {% if student_list %}
        <ul>
        {% for Student in student_list %}
            <img hrerf="../img/404.png">
            <li><a href="../profil/{{ student.id }}/">{{ Student.student_lastname }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Ya R!</p>
    {% endif %}
</body>
</html>